.weather-card{
    width: 105px;
    height: 200px;
    border: 3px solid#ECEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>*{
        margin-top: 10px;
        font-size: 14px;
    }

    &-day, &-temp{
      font-size: 16px;
      font-weight: bold;
    }

    & img{
       width: 50px;
       height: 50px;
    }

    @media screen and (max-width:600px){

        &-day, &-temp{
            font-size: 12px;
        }
    }
}